<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0iFB-1MhhaK2hdr-3F3vS1rGODKHG57k</string>
	<key>GCM_SENDER_ID</key>
	<string>283440465197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-app-98ef6</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-app-98ef6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283440465197:ios:af72d16dad06c63fe0ffa4</string>
</dict>
</plist>